/* Navbar default styles */
.navbar {
  position: absolute; /* Absolute positioning */
  left: 0;
  top: 0;
  width: 200px;
  height: 100%;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: all 0.7s ease; /* Smooth transition */
}

/* Navbar list styles */
.navbar ul {
  font-size: 25px;
  list-style-type: none; /* Remove bullet points */
  padding: 0;
}

/* Navbar list item styles */
.navbar ul li {
  margin: 50px 0;
  border-bottom: 1px solid var(--btn-color); /* Border bottom */
  font-weight: 200 !important; /* Force font weight */
}

/* Navbar link styles */
.navbar ul li a {
  color: var(--text-color);
  text-decoration: none; /* Remove underline */
}

/* Navbar styles when scrolled */
.navbarScrolled {
  position: fixed; /* Fixed positioning */
  top: 0;
  left: 0;
  width: 800px;
  height: auto;
  display: flex;
  justify-content: space-around;
  background-color: transparent;
  border-bottom: 1px solid var(--btn-color); /* Border bottom */
  transition: all 0.7s ease; /* Smooth transition */
}

/* Navbar list styles when scrolled */
.navbarScrolled ul {
  display: flex;
  flex-direction: row; /* Horizontal list items */
  padding: 0;
}

/* Navbar list item styles when scrolled */
.navbarScrolled ul li {
  margin: 0 40px;
  border-bottom: none; /* Remove border bottom */
}

/* Styles for smaller screens */
@media (max-width: 768px) {
  .navbar {
    position: fixed; /* Fixed positioning */
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row; /* Horizontal layout */
    justify-content: center;
    align-items: center;
    z-index: 1000;
    padding: 10px 0;
    border-bottom: 1px solid var(--btn-color); /* Border bottom */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Box shadow */
  }

  .navbar ul {
    display: flex;
    flex-direction: row; /* Horizontal list items */
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0;
    margin: 0;
  }

  .navbar ul li {
    margin: 0 5px;
    border-bottom: none; /* Remove border bottom */
  }
}
