/* Container for centering content */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    width: 100%;
    margin: 0;
    box-sizing: border-box;
    background-color: var(--footer-background-color);
}

/* Paragraph styles within the container */
.container p {
    font-size: 16px;
    color: var(--footer-text-color);
}

/* Footer styles */
footer {
    padding: 0 !important;
}
