/* General styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    width: 100%;
    overflow-x: hidden;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
}

/* Container styles */
.container {
    width: 100%;
    max-width: 1200px;
    position: relative;
    margin: 0 auto;
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Flex container styles */
.flexContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    max-width: 100%; 
    width: 100%;
    margin: 0 auto;
    justify-content: center;
}

/* Navbar styles */
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    padding: 10px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Navbar list styles */
.navbar ul {
    font-size: 25px;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

/* Navbar list item styles */
.navbar ul li {
    margin: 0 20px; /* Increased spacing between menu items */
}

/* Navbar link styles */
.navbar ul li a {
    color: var(--text-color);
}

/* Scrolled navbar styles */
.navbarScrolled {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Scrolled navbar list styles */
.navbarScrolled ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 0;
}

/* Scrolled navbar list item styles */
.navbarScrolled ul li {
    margin: 0 30px; /* More spacing when scrolled */
}

/* Full screen sections */
#hero, #projects, #skills, #contact {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px; /* Increased space between sections */
}

/* Footer styles */
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    width: 100%;
    background-color: var(--footer-background-color);
}

/* Footer paragraph styles */
.footer p {
    font-size: 16px;
    color: var(--footer-text-color);
}

/* Contact form styles */
.contactForm {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    align-items: center;
}

/* Contact form group styles */
.contactForm .formGroup {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
}

/* Contact form input and textarea styles */
.contactForm input,
.contactForm textarea {
    padding: 15px;
    border: 1px solid var(--form-border-color);
    border-radius: 5px;
    background-color: var(--input-background-color);
    color: var(--input-text-color);
    font-size: 1rem;
    transition: border-color 0.3s, background-color 0.3s, color 0.3s;
    width: 100%;
    max-width: 600px;
}

/* Contact form textarea specific styles */
.contactForm textarea {
    height: 100px; 
    resize: none; 
}

/* Focus state styles for input and textarea */
.contactForm input:focus,
.contactForm textarea:focus {
    border-color: var(--btn-color);
    outline: none;
}

/* Placeholder text styles */
.contactForm ::placeholder {
    color: var(--placeholder-color);
}

/* Contact form button styles */
.contactForm .btn {
    align-self: center;
    background-color: var(--btn-color);
    color: var(--btn-text-color);
    border: none;
    border-radius: 30px;
    padding: 12px 24px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

/* Hover state for button */
.contactForm .btn:hover {
    background-color: var(--btn-hover-color);
    transform: translateY(-3px);
}

/* Active state for button */
.contactForm .btn:active {
    transform: translateY(1px);
}

/* Projects container styles */
.projectsContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); 
    gap: 20px;
    max-width: 100%; 
    width: 100%;
    margin: 0 auto;
    justify-content: center;
}

/* Project card styles */
.projectCard {
    background-color: var(--project-card-bg);
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    transition: transform 0.7s ease-in-out, box-shadow 0.2s ease;
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Image styles within project cards */
.projectCard img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

/* Heading styles within project cards */
.projectCard h3 {
    font-size: 1.2rem;
    margin-bottom: 5px;
}

/* Paragraph styles within project cards */
.projectCard p {
    font-size: 1rem;
    color: var(--text-color);
    margin-bottom: 0;
}

/* Skill list styles */
.skillList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    max-width: 1200px;
    margin: 0 auto;
    border-bottom: 1px solid var(--btn-color);
}

/* Skill item styles */
.skillItem {
    background-color: var(--project-card-bg);
    border-radius: 10px;
    padding: 20px;
    width: 150px;
    text-align: center;
    transition: transform 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Image styles within skill items */
.skillItem img {
    width: 60px;
    height: 60px;
    margin-bottom: 10px;
    transition: transform 0.3s ease;
}

/* Hover state for images within skill items */
.skillItem img:hover {
    transform: scale(1.1);
}

/* Paragraph styles within skill items */
.skillItem p {
    font-size: 1rem;
    color: var(--text-color);
}

/* Media queries for responsive design */
@media (max-width: 1200px) {
    .flexItem {
        flex: 1 1 calc(33.333% - 20px);
    }
}

@media (max-width: 1024px) {
    .flexItem {
        flex: 1 1 calc(50% - 20px);
    }
}

@media (max-width: 768px) {
    .flexItem {
        flex: 1 1 calc(50% - 20px);
    }
}

@media (max-width: 600px) {
    .flexItem {
        flex: 1 1 calc(100% - 20px);
    }
}

@media (max-width: 480px) {
    .flexItem {
        flex: 1 1 100%;
    }
}

@media (max-width: 360px) {
    .flexItem {
        flex: 1 1 100%;
    }
}

/* Adjusting spacing for mobile */
@media (max-width: 768px) {
    #hero, #projects, #skills, #contact {
        margin-bottom: 150px; /* More space between sections on mobile */
    }
}
